/* cormorant-sc-regular - latin */
@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cormorant-sc-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cormorant SC Regular'), local('CormorantSC-Regular'),
       url('fonts/cormorant-sc-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cormorant-sc-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/cormorant-sc-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/cormorant-sc-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/cormorant-sc-v5-latin-regular.svg#CormorantSC') format('svg'); /* Legacy iOS */
}
/* quattrocento-700 - latin */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/quattrocento-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Quattrocento Bold'), local('Quattrocento-Bold'),
       url('fonts/quattrocento-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/quattrocento-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/quattrocento-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/quattrocento-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/quattrocento-v9-latin-700.svg#Quattrocento') format('svg'); /* Legacy iOS */
}
html, body {
    height: 100%;
}
* {
    /* outline: 1px solid red !important; */
}
.site-title {
    font-family: 'Cormorant SC', serif;
    font-size: 48px;
}
.intro {
    margin-bottom: 5em;
}
.subject, .body, .character-shift {
    margin-top: 2em;
    margin-left: 0;
    margin-right: 0;
}
.cycle {
    height: 5em;
    width:10em;
}
.convert {
    margin-bottom: 5em;
    text-align: center;
}
input {
    background-color: transparent;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
}
.subject-input {
    width: 100%;
}
.msg-reminder {
    color: red;
}
.trunk {
    min-height: calc(100% - 75px - 100px);
    background-color: rgba(210, 180, 140, 0.8);
    padding-top: 4em;
}
body {
  padding: 0;
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  background-image: url("../images/map-574792_1920.jpg");
  background-repeat: repeat;
}
.header, .footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(58, 18, 34, 0.75);
}
.header {
  border-bottom: 1px solid #e5e5e5;
  min-height: 75px;
  color: tan;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  min-height: 100px;
  color: tan;
}
.container-narrow > hr {
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .header, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .subject, .body, .character-shift {
      margin-left: 2em;
      margin-right: 2em;
  }
  .subject-input {
      width: 75%;
  }
}
