html, body {
    height: 100%;
}

* {
    /* outline: 1px solid red !important; */
}
.site-title {
    opacity: 1;
}

.intro {
    margin-bottom: 5em;
}
.subject, .body, .character-shift {
    margin: 2em;
}
.cycle {
    height: 5em;
    width:10em;
}
.convert {
    margin-bottom: 5em;
    text-align: center;
}
input {
    opacity: .8;
    background-color: tan;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* background-color: transparent; */
    opacity: .8;
    background-color: tan;
}
.subject-input {
    width: 75%;
}
.msg-reminder {
    color: red;
    padding-left: 10%;
}
.trunk {
    /* background-image: url("../images/seamless_parchment_texture_by_fantasystock.jpg");
    background-repeat: repeat; */
    opacity: .8;
    min-height: calc(100% - 75px - 100px);
     /* - 20px - 20px); */
    background-color: tan;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

/* .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
} */
body {
  padding: 0;
  /* background-image: url("../images/bright-red-wooden-background-scratched-dark-surface-green-spots-mahogany-cherry-colors-512x442.jpg");
  background-repeat: repeat; */

  /* background-color: tan; */
  background-image: url("../images/seamless_parchment_texture_by_fantasystock.jpg");
  background-repeat: repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .footer {
  padding-left: 15px;
  padding-right: 15px;
  opacity: .75;
  background-color: #3A1222;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* margin-bottom: 10px; */
  /* background-color: teal; */
  min-height: 75px;
}
/* Make the masthead heading the same height as the navigation */
/* .header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
} */

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  /* background-color: teal; */
  min-height: 100px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* .jumbotron {77

/* Supporting marketing content */
/* .marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
} */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /* margin-bottom: 30px; */
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  /* .jumbotron {
    border-bottom: 0;
  } */
}
