<div class="intro">
    <h3>Generate a coded message to send to a friend.</h3>
    <p>[Instructions will go here]</p>
</div>

<div class="subject">
    <h4>Subject:</h4>
    <input class="subject-input" ng-model="encrypt.subject" type="text" name="subject" value="{{encrypt.subject}}">
</div>

<div class="body">
    <h4>Message:</h4>
    <textarea name="msgBody" ng-model="encrypt.message" rows="4" cols="80">{{encrypt.message}}</textarea>
    <p class="msg-reminder" ng-if="encrypt.message === ''">Must enter a message </p>
</div>

<div class="character-shift">
    <h4>How many letters should the characters be shifted?</h4>
    <select class="" ng-model="encrypt.charShift" ng-options="x for x in encrypt.shift" name="">
        
    </select>
</div>

<div class="convert">
    <button class="cycle" ng-click="encrypt.toggleCrypt(encrypt.charShift)" type="button" name="encrypt">Encrypt</button>
    <button class="cycle" ng-click="encrypt.toggleCrypt(encrypt.charShift * (-1))" type="button" name="decrypt">Decrypt</button>
</div>
