<h4>Generate a coded message to send to a friend.</h4>
<p>[Instructions will go here]</p>
<br>
<br>
<p>Subject of Message:</p>
<input type="text" name="subject" value="">

<p>Body of Message:</p>
<textarea name="msgBody" rows="4" cols="80"></textarea>

<p>Passcode:</p>
<input type="text" name="passcode" value="">

<p>Choose Encryption Type:</p>
<select class="" name="algoChoice">
    <option value="aes256">AES-256</option>
    <option value="twoFish">TwoFish</option>
</select>
<br>
<br>
<button type="button" name="convert">Convert</button>
